<!DOCTYPE html>
<html>

<head>
	<title>Admin interface</title>

	<link type="text/css" rel="stylesheet" href="/css/main.css" />
	<script type="text/javascript" src="/js/main.js"></script>
</head>

<body id="page" class="container is-fluid is-invisible">
	<header>
		<h1>
			<a href="/">This Page</a>
		</h1>
	</header>

	<main class="columns">
		<uxsidebar selected="1"></uxsidebar>

		<section class="column">
			<div class="field box">
				<label class="label">Page Name</label>
				<div class="control">
					<input class="input" type="text" placeholder="Page Name" />
				</div>
			</div>
		</section>
	</main>

	<footer>

	</footer>
</body>

</html>