<nav class="column is-one-quarter panel" id="main-nav">
	<p class="panel-heading">
		repositories
	</p>
	<div class="panel-block">
		<p class="control has-icons-left">
			<input class="input is-small" type="text" placeholder="search">
			<span class="icon is-small is-left">
				<i class="fas fa-search"></i>
			</span>
		</p>
	</div>
	<div class="panel-tabs">
		<a class="is-active">Pages</a>
		<a>Page types</a>
		<a>Components</a>
		<a>Elements</a>
	</div>
	<div class="panel-block is-constrained">
		<uxpagelist></uxpagelist>
	</div>

	<div class="panel-block">
		<button class="button is-secondary">Add Page</button>
		<button class="button is-primary is-outlined">Save Page</button>
	</div>
</nav>